<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BookMate</title>
    <link rel="stylesheet" href="css/styles.css">


</head>
<body>
    <div class="login-container">
        <h2>Create an Account</h2>
        <form action="/signup" method="POST">
        <input type="text" name="username" placeholder="Choose Username" required>
        <input type="password" name="password" placeholder="Choose Password" required>
        <button type="submit">Sign Up</button>
        </form>
        <p>Already have an account? <a href="/login">Login</a></p>
        <% if (typeof error !== 'undefined') { %>
        <p style="color:red;"><%= error %></p>
        <% } %>
    </div>
</body>
</html>
